.header {
  width: 100%;
  height: 80px;
  line-height: 70px;
}

.sticky-header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  box-shadow: 3px 3px 8px -3px rgb(136, 126, 126);
  background: rgb(211, 140, 211);
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
p {
  color: rgb(190, 15, 15);
}

.logo {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.logo h1 {
  font-size: 1.2rem;
  font-weight: 800;
  color: rgb(115, 0, 119);
}
.menu {
  display: flex;
  align-items: center;
  column-gap: 2.7rem;
  margin-bottom: 0;
}
.nav-item a {
  color: rgb(89, 1, 139);
  font-weight: 500;
  cursor: pointer;
}

.nav-item {
  padding: 1rem;
}

.mobile-menu {
  font-size: 1.3rem;
  color: rgb(106, 6, 126);
  display: none;
}

.cart-icon {
  position: relative;
}

.mobile-menu {
  font-size: 1.4rem;
  color: rgb(196, 48, 48);
  display: none;
}
.badge {
  position: absolute;
  top: 25%;
  right: -8%;
  width: 15px;
  height: 15px;
  content: "";
  background: rgb(240, 220, 220);
  color: rgb(7, 0, 0);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
  font-weight: 600;
  z-index: 10;
}

.nav-active {
  font-weight: 700 !important;
}
.sticky-header {
  width: 100%;
  height: 80px;
  line-height: 70px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  box-shadow: 3px 3px 8px -3px rgb(136, 126, 126);
  background: rgb(211, 140, 211);
}
@media only screen and (max-width: 768px) {
  .navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: 9999;
    display: none;
  }
  .menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background: rgb(194, 133, 196);
    z-index: 99999;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .active-menu {
    display: block;
  }
  .mobile-menu {
    display: block;
  }
  .mobile-menu span i {
    font-size: 1.1rem !important;
  }

  .fav-icon i,
  .cart-icon i {
    font-size: 1.2rem !important;
  }
  .nav-icons span img {
    width: 1.2rem;
    height: 1.2rem;
  }
}
